{% extends 'administrador/admin_base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block contenido %}

    <!-- Begin Page Content -->
    <div class="container-fluid">


        <div class="d-flex justify-content-center">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Default Card Example -->
                <div class="card mb-4">
                    <div class="card-header">
                        Crear Sucursal
                    </div>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" name="direccion" id="direccion"
                                       placeholder="Ingrese la Dirección" required>

                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="telefono">Teléfono</label>
                                <input type="tel" name="telefono" class="form-control" id="telefono"
                                       placeholder="Ingrese el Teléfono" maxlength="8" required>

                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="capacidad">Capacidad</label>
                                <input type="number" class="form-control" id="capacidad"
                                       placeholder="Ingrese la capacidad" name="capacidad" required>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="AcercaDe">Acerca de la sucursal</label>
                                <input type="text" class="form-control" id="AcercaDe"
                                       placeholder="Acerca de..." required>
                                <input type="hidden"  name="estado" value="1">
                                <input type="hidden"  name="restaurante" >
                            </div>
                        </div>
                    <button class="btn btn-primary" type="submit">Agregar</button>

                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'admin/js/jquery-3.4.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/crear_sucursal.js' %}" type="text/javascript"></script>
{% endblock %}
</body>
</html>