{% extends 'administrador/admin_base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Menu{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">


</head>
<body>

{% block contenido %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Menu</h1>
        </div>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">

                <div class="col-lg-6">

                    <!-- Default Card Example -->
                    <div class="card mb-4">
                        <div class="card-header">
                            Agregar Menu
                        </div>
                        <div class="card-body">


                            <form class="needs-validation" novalidate>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="Nombre">Nombre del Menu</label>
                                        <input type="text" class="form-control" id="Nombre"
                                               placeholder="Ingrese el nombre del Menu" required>
                                        <div class="valid-feedback">
                                            DATOS VÁLIDOS!
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="Descripcion">Descripcion</label>
                                        <input type="tel" class="form-control" id="Descripcion"
                                               placeholder="Ingrese la Descripcion" required>
                                        <div class="valid-feedback">
                                            DATOS VÁLIDOS!
                                        </div>
                                    </div>
                                    <div style="padding-left: 6px; padding-right: 5px">
                                        <label>Seleccione Sucursal</label>
                                        <select class="custom-select" required>
                                            <option selected>Selecioné la sucursal</option>
                                            <option value="1">Sucursal 1</option>
                                            <option value="2">Sucursal 2</option>
                                            <option value="3">Sucursal 3</option>
                                        </select>
                                        <br>
                                        <br>
                                    </div>
                                        <br>
                                        <br>
                                </div>

                                <button class="btn btn-primary" type="submit">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                </div>

            </div>

            {% csrf_token %}
        </form>
    </div>
    <!-- /.container-fluid -->


{% endblock %}


{% block js %}
    <script src="{% static 'admin/js/jquery-3.4.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/crear_menu.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/gestion_horario.js' %}"></script>
    <script src="{% static 'admin/js/gestion_imagen.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
{% endblock %}

</body>
</html>