{% extends 'administrador/admin_base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block contenido %}

    <!-- Begin Page Content -->
    <div class="container-fluid">


        <div class="d-flex justify-content-center">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Default Card Example -->
                <div class="card mb-4">
                    <div class="card-header">
                        Crear Sucursal
                    </div>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom01">Dirección</label>
                                <input type="text" class="form-control" id="validationCustom01"
                                       placeholder="Ingrese la Dirección" required>

                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom02">Teléfono</label>
                                <input type="number" class="form-control" id="validationCustom02"
                                       placeholder="Ingrese el Teléfono" required>

                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom02">Capacidad</label>
                                <input type="number" class="form-control" id="validationCustom02"
                                       placeholder="Ingrese la capacidad" required>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="validationCustom02">Acerca de la sucursal</label>
                                <input type="text" class="form-control" id="validationCustom02"
                                       placeholder="Acerca de..." required>
                            </div>
                        </div>
                    <button class="btn btn-primary" type="submit">Agregar</button>

                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}

</body>
</html>