{% extends 'administrador/admin_base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Sucursales{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

</head>
<body>

{% block contenido %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Sucursal</h1>
        </div>

        <div class="d-flex justify-content-center">
            <!-- Page Heading -->

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">

                    <div class="col-lg-6">

                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Modificar Sucursal
                            </div>
                            <div class="card-body">


                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="Direccion">Dirección</label>
                                        <input type="text" class="form-control" id="Direccion"
                                               placeholder="Ingrese la Dirección" required>

                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="telefono">Teléfono</label>
                                        <input type="tel" class="form-control" id="telefono"
                                               placeholder="Ingrese el Teléfono" maxlength="8" required>

                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="Capacidad">Capacidad</label>
                                        <input type="number" class="form-control" id="Capacidad"
                                               placeholder="Ingrese la capacidad" required>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="AcercaDe">Acerca de la sucursal</label>
                                        <input type="text" class="form-control" id="AcercaDe"
                                               placeholder="Acerca de..." required>
                                    </div>
                                </div>

                                <div class="container">

                                    <div class="col-sm-6">
                                        <div id="type_conta">
                                            <div class="row form-group" id="edit-0">

                                                <div class="col-md-5 clearfix">
                                                    <div class="row col-md-7">

                                                        <form>

                                                            <div class="form-group">
                                                                <a class="add pull-right" href="javascript: void(0)"
                                                                   title="Click to add more"><img
                                                                        src="{% static 'usuario/img/icons/add.png' %}"
                                                                        width="30px"><i
                                                                        class="glyphicon glyphicon-plus-sign"></i></a>
                                                                <label for="formGroupExampleInput1"
                                                                       style="width: 320px;">Día</label>
                                                                <input type="text" class="form-control"
                                                                       id="formGroupExampleInput1"
                                                                       placeholder="Ingrese el Día">
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col">
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <label class="input-group-text"
                                                                                   style="width: 300px;border-radius: 0">Entrada</label>
                                                                        </div>
                                                                        <select class="custom-select"
                                                                                style="border-radius: 0">
                                                                            <option selected>Choose...</option>
                                                                            <option value="1">7:00</option>
                                                                            <option value="2">8:00</option>
                                                                            <option value="3">9:00</option>
                                                                            <option value="4">10:00</option>
                                                                            <option value="5">11:00</option>
                                                                            <option value="6">12:00</option>
                                                                            <option value="7">13:00</option>
                                                                            <option value="8">14:00</option>
                                                                            <option value="9">15:00</option>
                                                                            <option value="10">16:00</option>
                                                                            <option value="11">17:00</option>
                                                                            <option value="12">18:00</option>
                                                                            <option value="13">19:00</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col">
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <label class="input-group-text"
                                                                                   style="width: 300px;border-radius: 0">Salida </label>
                                                                        </div>
                                                                        <select class="custom-select"
                                                                                style="border-radius: 0">
                                                                            <option selected>Choose...</option>
                                                                            <option value="1">7:00</option>
                                                                            <option value="2">8:00</option>
                                                                            <option value="3">9:00</option>
                                                                            <option value="4">10:00</option>
                                                                            <option value="5">11:00</option>
                                                                            <option value="6">12:00</option>
                                                                            <option value="7">13:00</option>
                                                                            <option value="8">14:00</option>
                                                                            <option value="9">15:00</option>
                                                                            <option value="10">16:00</option>
                                                                            <option value="11">17:00</option>
                                                                            <option value="12">18:00</option>
                                                                            <option value="13">19:00</option>
                                                                            <option value="14">20:00</option>
                                                                            <option value="15">21:00</option>
                                                                            <option value="16">22:00</option>
                                                                            <option value="17">23:00</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        <div id="type-conta" class="hide">
                                            <div class="row form-group type-row">


                                                <div class="col-md-5 clearfix">
                                                    <div class="row col-md-5">
                                                        <form>

                                                            <div class="form-group">


                                                                {#                                                            <label for="formGroupExampleInput"#}
                                                                {#                                                                   style="width: 300px;border-radius: 0">Día</label>#}
                                                                <a class="remove" targetDiv=""
                                                                   data-id="0"
                                                                   href="javascript: void(0)"><img
                                                                        src="{% static 'usuario/img/icons/subtract-sign.png' %}"
                                                                        width="30px" class="glyphicon glyphicon-trash"></a>
                                                                <input type="text" class="form-control"
                                                                       id="formGroupExampleInput"
                                                                       placeholder="Ingrese el Día">
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col">
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <label class="input-group-text"
                                                                                   style="width: 300px;border-radius: 0">Entrada</label>
                                                                        </div>
                                                                        <select class="custom-select"
                                                                                style="border-radius: 0;">
                                                                            <option selected>Choose...</option>
                                                                            <option value="1">7:00</option>
                                                                            <option value="2">8:00</option>
                                                                            <option value="3">9:00</option>
                                                                            <option value="4">10:00</option>
                                                                            <option value="5">11:00</option>
                                                                            <option value="6">12:00</option>
                                                                            <option value="7">13:00</option>
                                                                            <option value="8">14:00</option>
                                                                            <option value="9">15:00</option>
                                                                            <option value="10">16:00</option>
                                                                            <option value="11">17:00</option>
                                                                            <option value="12">18:00</option>
                                                                            <option value="13">19:00</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col">
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <label class="input-group-text"
                                                                                   style="width: 300px;border-radius: 0">Salida </label>
                                                                        </div>
                                                                        <select class="custom-select"
                                                                                style="border-radius: 0">
                                                                            <option selected>Choose...</option>
                                                                            <option value="1">7:00</option>
                                                                            <option value="2">8:00</option>
                                                                            <option value="3">9:00</option>
                                                                            <option value="4">10:00</option>
                                                                            <option value="5">11:00</option>
                                                                            <option value="6">12:00</option>
                                                                            <option value="7">13:00</option>
                                                                            <option value="8">14:00</option>
                                                                            <option value="9">15:00</option>
                                                                            <option value="10">16:00</option>
                                                                            <option value="11">17:00</option>
                                                                            <option value="12">18:00</option>
                                                                            <option value="13">19:00</option>
                                                                            <option value="14">20:00</option>
                                                                            <option value="15">21:00</option>
                                                                            <option value="16">22:00</option>
                                                                            <option value="17">23:00</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                </div>


                                <div class="container">

                                    <div class="col-sm-6" id="container2">
                                        <div id="type_container">
                                            <div class="row form-group" id="edit-0">

                                                <div class="col-md-20 clearfix">
                                                    <div class="row col-md-20">

                                                        <div class="form-group">
                                                            <label for="exampleFormControlFile" style="
 font-size: 14px;
 font-weight: 600;
 color: #fff;
 background-color: #212529;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;">Elegir Imagen</label>
                                                            <input type="file" class="fo "
                                                                   id="exampleFormControlFile" style="width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;">
                                                        </div>

                                                    </div>

                                                    <div class="col-md-3 control-label">
                                                        <a class="add-type pull-right" href="javascript: void(0)"
                                                           title="Click to add more"><img
                                                                class="glyphicon glyphicon-plus-sign"
                                                                src="{% static 'usuario/img/icons/add.png' %}"
                                                                width="30px"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div id="type-container" class="hide">
                                            <div class="row form-group type-row" id="">

                                                <div class="col-md-15 clearfix">
                                                    <div class="row col-md-20">

                                                        <div class="form-group">
                                                             <div class="form-group">
                                                            <label for="exampleFormControlFile" style="
 font-size: 14px;
 font-weight: 600;
 color: #fff;
 background-color: #212529;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;">Elegir Imagen</label>
                                                            <input type="file" class="fo "
                                                                   id="exampleFormControlFile" style="width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;">
                                                        </div>

                                                        </div>

                                                    </div>
                                                    <div class="col-md-5 control-label"><a
                                                            class="remove-type pull-right"
                                                            targetDiv="" data-id="0"
                                                            href="javascript: void(0)"><img
                                                            class="glyphicon glyphicon-trash"
                                                            src="{% static 'usuario/img/icons/subtract-sign.png' %}"
                                                            width="30px"></a></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <button class="btn btn-primary" type="submit">Agregar</button>


                                <script src="{% static 'admin/js/validar_sucursal.js' %}"></script>

                            </div>

                        </div>





                    </div>


                </div>

                {% csrf_token %}


            </form>
        </div>
    </div>
    <!-- /.container-fluid -->


{% endblock %}


{% block js %}
    <script src="{% static 'admin/js/jquery-3.4.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/validar_sucursal.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/gestion_horario.js' %}"></script>
    <script src="{% static 'admin/js/gestion_imagen.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
{% endblock %}

</body>
</html>